.premium-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  padding: 9px;
}

.premium {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  border-radius: 20px;
  flex: 1;
}

.item,
.item-promotion {
  position: relative;
  width: 180%;
}

.descript {
  position: absolute;
  left: 6%;
  top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(185, 185, 185);
  width: 85%;
  font-weight: 600;
  font-size: 15px;
}

.page {
  position: absolute;
  bottom: 9px;
  left: 8px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.size:hover {
  background-color: black;
  color: white;
}

.size-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.size {
  border: 1px black solid;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 8px;
}

.item img,
.item-promotion img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  border: 1px rgb(223, 223, 223) solid;
}

.chart button {
  border: none;
  padding: 10px 15px;
  background-color: rgb(13, 12, 34);
  color: white;
  border-radius: 28px;
  white-space: nowrap;
}

.chart button:hover {
  background-color: rgb(59, 59, 59);
  color: white;
}

.descript-promotion {
  position: absolute;
  left: 8px;
  top: 70px;
  color: rgb(243, 238, 238);
  max-width: 320px;
  font-weight: 600;
  font-size: 25px;
  text-shadow: 4px 6px 5px black;
}

.page-promotion {
  position: absolute;
  bottom: 20px;
  left: 8px;
  width: 320px;
  color: white;
  font-weight: 600;
  font-size: 45px;
  text-shadow: 4px 6px 5px black;
  text-align: center;
}

.sponsor {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  border: 1px rgb(219, 219, 219) solid;
}

.companies {
  text-align: center;
  font-weight: 700;
}

.logo-sponsor,
.spons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  font-size: 18px;
  font-weight: 600;
}

.spotify,
.slack,
.razorpay,
.webflow,
.zoom {
  max-width: 50px;
}

.pipedrive {
  max-width: 150px;
}

.new-arrival-title,
.blog-title,
.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 35px;
  padding: 15px 9px 0 9px;
  font-weight: bolder;
}

.explore button,
.design-making button,
.blog-title button {
  border: none;
  padding: 15px 45px;
  background-color: rgb(13, 12, 34);
  color: white;
  border-radius: 28px;
  white-space: nowrap;
  font-size: 18px;
}

.explore button:hover,
.design-making button:hover,
.blog-title button:hover {
  opacity: 0.8;
}

.arrival-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 15px 10px 1px 10px;
  gap: 20px;
  border-radius: 20px;
}

.arrival-container {
  position: relative;
  flex: 1;
}

.arrival-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: rgb(214, 214, 214);
}

.shoe-edition {
  color: rgb(184, 184, 184);
  font-weight: bolder;
}

.shoe-style {
  font-size: 25px;
  font-weight: 600;
}

.shoe-price {
  font-weight: 600;
}

.arrival-container img {
  max-width: 100%;
  max-height: 250px;
  border-radius: 20px;
}

.payment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px 10px 1px 10px;
  gap: 20px;
  border-radius: 20px;
}

.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 7px;
  flex: 1;
  padding: 25px 10px;
  border-radius: 20px;
  background-color: rgba(199, 199, 199, 0.6);
  border-radius: 20px;
  border: 1px rgb(219, 219, 219) solid;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-weight: 600;
}

.img-payment {
  background-color: white;
  width: 100px;
  height: 95px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-payment img {
  width: 50%;
}

.delivery {
  font-size: 20px;
  font-weight: 600;
}

.delivery-description {
  color: rgb(150, 150, 150);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  max-width: 370px;
}

.design-making {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 9px;
  column-gap: 20px;
}

.design-making-container img {
  flex: 1;
  height: 570px;
  border-radius: 20px;
}

.design-making-container {
  position: relative;
  display: flex;
  row-gap: 10px;
  padding-top: 20px;
}

.design-making-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 50px;
  left: 20px;
  row-gap: 7px;
}

.design-making-description-2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  right: -75px;
  row-gap: 7px;
}

.design-experience {
  font-size: 30px;
  font-weight: 600;
  color: aliceblue;
}

.design-descript {
  max-width: 500px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(124, 124, 124);
}
