.premium {
  display: flex;
  flex-direction: column;
}

.descript,
.page,
.size {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.size div {
  border: 1px black solid;
  border: 5px;
}

.item img {
  width: 300px;
}

.chart button {
  border: none;
  padding: 10px 15px;
  background-color: rgb(13, 12, 34);
  color: white;
  border-radius: 28px;
  white-space: nowrap;
}

.chart button:hover {
  opacity: 0.7;
}
