.content-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px 7px;
  column-gap: 20px;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.reviews {
  border-radius: 20px;
  background-color: rgb(211, 211, 211);
  padding: 35px 4px;
  display: flex;
  justify-content: space-between;
  height: 93%;
  flex-direction: column;
}

.img-review {
  font-size: 12px;
}

.img-review img {
  max-width: 100%;
  border-radius: 20px;
}

.star {
  width: 30%;
}

.review-content {
  font-weight: 600;
}

.ads {
  font-size: 700%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.samples {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.samples button {
  border: none;
  padding: 10px 15px;
  background-color: rgb(13, 12, 34);
  color: white;
  border-radius: 28px;
  white-space: nowrap;
}

.samples button:hover {
  opacity: 0.7;
}

.samples img {
  width: 45px;
}

.play {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  font-weight: 600;
}
