header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  background-color: red;
  padding-top: 55px;
}

header div {
  flex: 1;
}

.sticky-header-container {
  flex: 2;
  background-color: yellow;
}

.interactive {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.interactive img {
  width: 2%;
  border: 1px rgb(139, 138, 138) solid;
  border-radius: 14px;
  padding: 3px;
}

.interactive button {
  border: none;
  padding: 10px 15px;
  background-color: rgb(13, 12, 34);
  color: white;
  border-radius: 28px;
}

.interactive button:hover {
  opacity: 0.7;
}
