/* start of desktop styles */

@media (min-width: 1200px) {
  /* start of large computer */
  nav {
    font-size: 15px;
    color: rgb(124, 124, 124);
    padding: 0 20px;
  }

  .search-bar {
    height: 25px;
  }

  .right-section-container {
    font-size: 15px;
  }

  .right-section button {
    padding: 8px 13px;
  }

  .reviews {
    padding: 20px 4px;
  }

  .img-review img {
    width: 100%;
  }

  .ads {
    font-size: 500%;
  }

  .samples button {
    padding: 6px 10px;
  }

  .premium-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 9px;
  }

  .item img,
  .item-promotion img {
    flex: 1;
    height: 300px;
  }

  .arrival-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgb(214, 214, 214);
  }

  .shoe-style {
    font-size: 20px;
  }

  .arrival-grid img {
    width: 100%;
    height: 250px;
  }

  .design-making-container img {
    width: 90%;
    height: 450px;
    border-radius: 20px;
    object-fit: cover;
  }

  .design-experience {
    font-size: 20px;
  }

  .design-descript {
    font-size: 15px;
  }

  .design-making-description {
    position: absolute;
    bottom: 50px;
    left: 20px;
  }

  .design-making-description-2 {
    position: absolute;
    top: 50px;
    right: -20px;
  }

  .explore button,
  .design-making button,
  .blog-title button {
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  /* start of computer */
  nav {
    font-size: 13px;
    color: rgb(124, 124, 124);
    padding: 0 20px;
  }

  .search-bar {
    height: 25px;
    max-width: 115px;
  }

  .search-bar::placeholder {
    font-size: 12px;
  }

  .right-section-container {
    font-size: 12px;
  }

  .right-section button {
    padding: 8px;
    font-size: 12px;
  }

  .reviews {
    padding: 20px 4px;
  }

  .img-review img {
    width: 320px;
    height: 40 0px;
  }

  .ads {
    font-size: 65px;
  }

  .samples button {
    padding: 3px 5px;
    font-size: 13px;
  }

  .play {
    font-size: 14px;
    width: 165px;
  }

  .play img {
    width: 40px;
  }

  .premium-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 9px;
  }

  .descript {
    font-size: 14px;
  }

  .page-promotion,
  .descript-promotion {
    font-size: 23px;
  }

  .size-container {
    column-gap: 3px;
    align-items: center;
  }

  .size {
    border: 1px black solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 15px;
  }

  .chart button {
    border: none;
    padding: 5px;
    background-color: rgb(13, 12, 34);
    color: white;
    border-radius: 28px;
    white-space: nowrap;
    font-size: 15px;
  }

  .item img,
  .item-promotion img {
    flex: 1;
    height: 300px;
  }

  .companies {
    text-align: center;
    font-weight: 700;
  }

  .logo-sponsor,
  .spons {
    font-size: 18px;
  }

  .spotify,
  .slack,
  .razorpay,
  .webflow,
  .zoom {
    max-width: 38px;
  }

  .pipedrive {
    max-width: 95px;
  }

  .arrival-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgb(214, 214, 214);
    font-size: 15px;
  }

  .shoe-style {
    font-size: 15px;
  }

  .arrival-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .design-making-container img {
    width: 50%;
    height: 450px;
    border-radius: 20px;
    object-fit: cover;
  }

  .design-experience {
    font-size: 19px;
  }

  .design-descript {
    font-size: 17px;
    max-width: 280px;
  }

  .design-making-description {
    position: absolute;
    bottom: 50px;
    left: 20px;
  }

  .design-making-description-2 {
    position: absolute;
    top: 50px;
    left: 10px;
  }

  .explore button,
  .design-making button,
  .blog-title button {
    padding: 10px 20px;
    font-size: 12px;
  }

  .blog-profile img {
    max-width: 280px;
    height: 190px;
  }

  .blog-name {
    font-size: 21px;
  }

  .blog-description {
    font-size: 19px;
  }
}

@media (min-width: 728px) and (max-width: 1023px) {
  /* start of medium tablet styles */
  nav {
    font-size: 11px;
    color: rgb(124, 124, 124);
    padding: 0 20px;
  }

  .search-bar {
    height: 25px;
    max-width: 105px;
  }

  .search-bar::placeholder {
    font-size: 10px;
  }

  .right-section-container {
    font-size: 10px;
  }

  .right-section button {
    padding: 8px;
    font-size: 10px;
  }

  .reviews {
    padding: 20px 4px;
  }

  .img-review img {
    width: 290px;
    height: 40 0px;
  }

  .ads {
    font-size: 55px;
  }

  .samples button {
    padding: 3px 5px;
    font-size: 11px;
  }

  .play {
    font-size: 12px;
    width: 65px;
  }

  .play img {
    width: 40px;
  }

  .premium-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 9px;
  }

  .descript {
    font-size: 12px;
  }

  .page-promotion,
  .descript-promotion {
    font-size: 19px;
  }

  .size-container {
    column-gap: 3px;
    align-items: center;
  }

  .size {
    border: 1px black solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    font-size: 12px;
  }

  .chart button {
    border: none;
    padding: 5px;
    background-color: rgb(13, 12, 34);
    color: white;
    border-radius: 28px;
    white-space: nowrap;
    font-size: 13px;
  }

  .item img,
  .item-promotion img {
    width: 100%;
    height: 230px;
    object-fit: fill;
  }

  .companies {
    text-align: center;
    font-weight: 700;
  }

  .logo-sponsor,
  .spons {
    font-size: 16px;
  }

  .spotify,
  .slack,
  .razorpay,
  .webflow,
  .zoom {
    max-width: 30px;
  }

  .pipedrive {
    max-width: 85px;
  }

  .arrival-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgb(214, 214, 214);
    font-size: 12px;
  }

  .shoe-style {
    font-size: 12px;
  }

  .arrival-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }

  .arrival-grid img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .img-payment {
    width: 60%;
    height: 100px;
  }

  .delivery,
  .delivery-description {
    font-size: 14px;
  }

  .design-making-container img {
    max-width: 100%;
    height: 90%;
    border-radius: 20px;
    object-fit: fill;
  }

  .design-experience {
    font-size: 17px;
  }

  .design-descript {
    font-size: 16px;
    max-width: 280px;
  }

  .design-making-description {
    position: absolute;
    bottom: 60px;
    left: 20px;
  }

  .design-making-description-2 {
    position: absolute;
    top: 50px;
    left: 10px;
  }

  .explore button,
  .design-making button,
  .blog-title button {
    padding: 10px 20px;
    font-size: 12px;
  }

  .blog-grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .blog-profile img {
    max-width: 230px;
    height: 190px;
  }

  .blog-name {
    font-size: 17px;
  }

  .blog-description {
    font-size: 15px;
  }
}

@media (min-width: 0px) and (max-width: 727px) {
  /* start of phone styles */
  nav {
    font-size: 8px;
    color: rgb(124, 124, 124);
    padding: 0 20px;
  }

  .search-bar {
    height: 25px;
    max-width: 55px;
  }

  .search img {
    width: 20%;
  }

  .search {
    padding: 0 5px;
  }

  .search-bar::placeholder {
    font-size: 9px;
  }

  .right-section-container {
    font-size: 9px;
  }

  .right-section button {
    padding: 8px;
    font-size: 9px;
  }

  .reviews {
    padding: 20px 4px;
  }

  .img-review img {
    width: 180px;
    height: 40 0px;
  }

  .ads {
    font-size: 35px;
  }

  .samples button {
    padding: 3px 5px;
    font-size: 9px;
  }

  .play {
    font-size: 9px;
    width: 65px;
  }

  .play img {
    width: 40px;
  }

  .premium-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    padding: 9px;
  }

  .descript {
    font-size: 7px;
  }

  .page-promotion,
  .descript-promotion {
    font-size: 14px;
  }

  .size-container {
    column-gap: 3px;
    align-items: center;
  }

  .size {
    border: 1px black solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    font-size: 9px;
  }

  .chart button {
    border: none;
    padding: 3px 5px;
    background-color: rgb(13, 12, 34);
    color: white;
    border-radius: 28px;
    white-space: nowrap;
    font-size: 4px;
  }

  .item img,
  .item-promotion img {
    flex: 1;
    height: 200px;
    object-fit: fill;
  }

  .companies {
    text-align: center;
    font-weight: 700;
  }

  .logo-sponsor,
  .spons {
    font-size: 9px;
  }

  .spotify,
  .slack,
  .razorpay,
  .webflow,
  .zoom {
    max-width: 20px;
  }

  .pipedrive {
    max-width: 70px;
  }

  .arrival-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgb(214, 214, 214);
    font-size: 12px;
  }

  .shoe-style {
    font-size: 12px;
  }

  .arrival-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }

  .arrival-grid img {
    width: 170%;
    height: 150px;
    object-fit: fill;
  }

  .img-payment {
    width: 60%;
    height: 60px;
  }

  .delivery,
  .delivery-description {
    font-size: 12px;
  }

  .design-making-container img {
    max-width: 100%;
    height: 90%;
    border-radius: 20px;
    object-fit: fill;
  }

  .design-experience {
    font-size: 13px;
  }

  .design-descript {
    font-size: 13px;
    max-width: 180px;
  }

  .design-making-description {
    position: absolute;
    bottom: 50px;
    left: 20px;
  }

  .design-making-description-2 {
    position: absolute;
    top: 50px;
    left: 10px;
  }

  .explore button,
  .design-making button,
  .blog-title button {
    padding: 10px;
    font-size: 10px;
  }

  .blog-grid {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .blog-profile img {
    max-width: 100%;
    height: 190px;
    object-fit: fill;
  }

  .blog-name {
    font-size: 14px;
  }

  .blog-description {
    font-size: 11px;
  }
}
